[submodule "libero"]
	path = libero
	url = https://github.com/szhaovas/LIBERO.git
	branch = parallelized
[submodule "openpi"]
	path = openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "openvla_oft"]
	path = openvla_oft
	url = https://github.com/henyhechen/openvla-oft.git
