defaults:
  - envgen: cma_mae
  - eval: policy_embedding
  - _self_

hydra:
  run:
    dir: ./outputs/${hydra:runtime.choices.envgen}/${now:%Y-%m-%d_%H%M%S}

collect_embedding_num_evals: ${oc.mul:4, ${oc.len:${eval.task_ids}}, ${envgen.emitter.batch_size}} # 4 batches from each task
collect_embedding_sigma: 0.04
save_embeddings_to: ${hydra:runtime.output_dir}/embeddings

# search_itr * emitter_batch_size * trials_per_sol
env_search_num_evals: ${oc.mul:100, ${envgen.emitter.batch_size}, ${eval.task_eval.num_trials_per_sol}}
lerobot_dataset_repo_id: ${hydra:runtime.choices.envgen}/${now:%Y-%m-%d_%H%M%S}
log_every: ${oc.mul:5, ${envgen.emitter.batch_size}, ${eval.task_eval.num_trials_per_sol}} # Log every 5 search iterations
seed: 42

single_process: ${oc.equals:${oc.len:${oc.env_csv:VLA_SERVER_URLS}}, 1} # If True, there will be no dask parallelization and all evals will be done sequentially

# for resuming an experiment
reload_from_dir: null