defaults:
  - spread_similarity
  - _self_

task_eval:
  measure_func: policy_embedding
  
# Make measure_encoder its own config since we only need 1 measure_encoder for all evaluators
measure_encoder:
  _target_: src.encoder.EncoderManager
  ckpt_path: null
  model_cfg:
    _target_: src.encoder.EncoderModelConfig
    model_type: vae
    input_dim: 2048 # Pi0fast embedding size (after aggregating)
    hidden_dim: 128
    latent_dim: 2 # How many measures
  train_cfg:
    _target_: src.encoder.EncoderTrainingConfig
    training_dataset_path: ${hydra:runtime.output_dir}/embeddings
    batch_size: 32
    num_train_epochs: 40
    learning_rate: 0.01
    save_to: ${hydra:runtime.output_dir}/encoder_ckpt.pt